body,html{
margin: 0 0;
background-color:#E2E9C0;
}

header{
    background-color: #7AA95C;
    position: sticky; /* Ceci permet au header de rester visible lors du scroll */
    top: 0;
    width: 100%;
    z-index: 1000; /* S'assure que le header reste au-dessus des autres éléments */
}

nav{
    display: flex;
    justify-content: space-between;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    
}

h1,h2,h3,h4{
    margin: 0 0;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 10px;   
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    color: #9BCFAA;
    
}
.logo p{
    font-weight: bold;
}

.logo img{
    height: 48px;
}


#aboutme{
    display: flex;
    justify-content: space-between;   
    padding: 0 10px 0 10px;
    width: 95%;
    
        
}
    .aboutme-left{
    display: flex;
    flex-direction: column;
    
    width: 55%;

    
    }
        .profession p{
            font-size:x-large;
            font-weight: bold;
        }

        .intro{

        }

    .aboutme-right{
        display: flex;
        align-items: center;
        justify-content: center;
        width:40%;
    }

    .aboutme-right img{
        width: 100%;
        height: 90%;
        object-fit:cover;
        border-radius: 16px;
        overflow: hidden;
        transition: all .3s ease-in-out;
        -webkit-box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
        box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
        }
    

#myskills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap:24px;
    
}
.skillscontainer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 10px;
    width: 100%;

}


    .skillcard{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        border-radius: 16px;
        overflow: hidden;
        transition: all .3s ease-in-out;
        -webkit-box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
        box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
        padding: 10px;
        gap: 10px;
    }

        .skillimage{
            width: 64px;
            height: 64px;
        }


#myprojects{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
gap:24px;
}


    .achievmentcontainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        gap: 2%;

    }
    .achievmentcard{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 24vw;
        height: 70vh;
        margin-bottom: 10px;
        border-radius: 16px;
        overflow: hidden;
        transition: all .3s ease-in-out;
        -webkit-box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
        box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
    padding: 10px;
    }

        .achievmentimage{
            width: 100%;
            height: 60%;

        }

        .achievmentimage img{
        width: 100%;
        height: 100%;
        object-fit:cover; 
        border-radius: 16px;     

        }

        .achievmentcard:hover{
            transform: scale(1.1);
        }

#review{
display: flex;
flex-direction: column;
align-items: center;
width: 95%;
gap:24px;
margin-bottom: 64px;

}

.reviewcard-container{
display: flex;
flex-direction: row;
align-items: center;
justify-content:space-around;
width: 100%;
    
    

}

.reviewcard{
flex-direction: column;
display: flex;
width: 25%;
height: 5%;
padding: 10px;
border-radius: 16px;
overflow: hidden;
transition: all .3s ease-in-out;
-webkit-box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);
box-shadow: 0px 11px 24px -10px rgba(66, 68, 90, 1);

}

.reviewcard:hover{
transform: scale(1.1);
}


.reviewcard-up{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
margin: 0 0;
}
.reviewcard-down{
display: flex;
    

}
.reviewcard-down-left{
display: flex;
justify-content: center;
align-items: center;
padding: 10px;

}
.reviewcard-down-right{
display: flex;
flex-direction: column;
width: 100%;
margin: 0 0;

}
.reviewer-avatar{

}
.reviewer-details{

}
.fivestars{
    display: flex;
    flex-direction: row;
    color:gold;
  }

  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#7AA95C;  
}

.medias{
    display: flex;
    gap:16px;
    margin:16px 0 16px 0;
}

.medias img{
    width: 32px;
    height:32px;
}

