

/* importation de la police 'Poppins' de Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html, body{
   font-family: 'Poppins', sans-serif;

}

/* BOUTONS */
.button{
   width: fit-content;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 8px 16px;
   border-radius: 8px;
   border: solid 2.5px #7AA95C;
   text-decoration: none;
   font-weight: 500;
   transition: all .3s ease-in-out;
}

.button:hover{
   border: solid 2.5px #86b966;
}

.primary{
   background: #7AA95C;
   color: white;
}

.primary:hover{
   background: #86b966;
}

.secondary{
   background: transparent;
   color: #7AA95C;
} 

.secondary:hover{
   color: #9fda7b;
}

.buttons-container{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
}




.avatar{
   width: 50px;
   height: 50px;
   border: solid 2px black;
   border-radius: 100%;
   object-fit: cover;
}

.link{
   color: black;
   font-weight: 400;
   text-decoration: none;
   transition: all .3s ease-in-out;
}

.link:hover{
   color: #9BCFAA;
}



#copyrights{
   display: flex;
   align-items: flex-end;
   justify-content: center;
   height: 100px;
   margin-bottom: 0;


}